<div class="wrapper ">
    <div class="sidebar" data-color="orange" data-background-color="black">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                CT
            </a>
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active  ">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <!-- your sidebar here -->
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#condominios">
                        <i class="material-icons">apps</i>
                        <p> Condominios
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="condominios">
                        <ul class="nav">

                            <li class="nav-item ">
                                <a class="nav-link" href="/estanques/">
                                    <span class="sidebar-mini"> L </span>
                                    <span class="sidebar-normal"> Listar </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/estanques/report">
                                    <span class="sidebar-mini"> NC </span>
                                    <span class="sidebar-normal"> Nuevo Condominios </span>
                                </a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="/estanques/create">
                                    <span class="sidebar-mini"> RC </span>
                                    <span class="sidebar-normal"> Reporte de Condominios </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#huespedes">
                        <i class="material-icons">apps</i>
                        <p> Huespedes
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="huespedes">
                        <ul class="nav">

                            <li class="nav-item ">
                                <a class="nav-link" href="/lotes/">
                                    <span class="sidebar-mini"> L </span>
                                    <span class="sidebar-normal"> Listar </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/huespedes/registro-huesped">
                                    <span class="sidebar-mini"> NH </span>
                                    <span class="sidebar-normal"> Nuevo huespedes </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/lotes/create">
                                    <span class="sidebar-mini"> RGM </span>
                                    <span class="sidebar-normal"> Registro Gastos Menusales </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/lotes/create">
                                    <span class="sidebar-mini"> GM </span>
                                    <span class="sidebar-normal"> Gastos Menusales </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/lotes/create">
                                    <span class="sidebar-mini"> RI </span>
                                    <span class="sidebar-normal"> Reporte de Incidencias </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
