
    <div class="card">
        <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
                <i class="material-icons">filter_list</i>
            </div>
            <h4 class="card-title">Listado de clientes activos</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="material-datatables">
                    <table style="width:100%" id="table_id" width="100%" class="display responsive nowrap table">
                        <thead>
                            <th></th>
                            <th data-priority="1">Nombre</th>
                            <th class="">Correo</th>
                            <th data-priority="1">Telefono</th>
                            <th>Monto total</th>
                            <th>Monto restante</th>
                            <th data-priority="1">Acciones</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

